apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: sds
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: ghcr.io/cp-rekmart/sds_final_project_k8s/web:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: BFF_URL
              value: http://bff:7000
            - name: FILE_CONVERTER_URL
              value: http://file-converter:7000
            - name: FACE_RECOGNITION_URL
              value: http://face-detection:7000
