apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: sds
spec:
  selector:
    app: web
  type: NodePort
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30000
