- name: Get join token from master
  hosts: master
  become_user: "{{ ansible_user }}"
  tasks:
      - name: Generate join token
        shell: microk8s add-node | grep "microk8s join"
        register: join_output

      - name: Set join command
        set_fact:
            join_cmd: "{{ join_output.stdout }}"

- name: Join worker nodes
  hosts: workers
  become_user: "{{ ansible_user }}"
  serial: 1
  tasks:
      - name: Join cluster
        shell: "{{ hostvars[groups['master'][0]]['join_cmd'] }}"
